
body {
    background: rgb(250, 224, 191);
    color: rgb(114, 76, 76);
}

/* index.html styles */

#wastecontainer {
    width: 75vw;
    margin-bottom: 5vh;
}

button {
    width: 150px;
    height: 50px;
    background-color: #bada55;
    font-size: 16px;
    margin-right: 10px;
}

#buttonReset {
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

#buttonNext {
    width: 150px;
    height: 50px;
    background-color: yellow;
    color: black;
    font-size: 16px;
    margin-right: 10px;
    display: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    height: 7.5vh;
}

h2 {
    text-align: center;
}

h5 {
    margin: 0;
}

input {
    background-color: white;
    margin-bottom: 1vh;
}

/* pagetwo.html styles */

.boxheader {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.boxheaderdemands {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.value {
    background-color: rgb(196, 247, 196);
}

.failure {
    background-color: rgb(250, 204, 204);
}

.container {
    width: 100vw;
    height: 32vh;
    padding: 0;
    border: 1px solid black;
}

.box {
    width: 40vw;
    height: 16vh;
    border: 1px solid lightgray;
}

.row {
    margin: 0;
}

.dragcard {
    width: 100%;
    height: 100%;
    border: 1px solid brown;
    background-color: gainsboro;
    text-align: center;
    font-size: 11px;
}

.align-vertically { /* credit to https://webdevblog.com/css-vertical-align/ */
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 100%;
    padding: 0;
}

#checkAnswersDnD {
    width: 100vw;
    height: 20vw;
}

/* pagethree.html styles */

.canvasOne {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid red;
    background-color: rgba(248, 241, 241, .005);
    z-index: 1;
    }

#preOne, #postOne, #preTwo, #postTwo, #preThree, #postThree {
    position: absolute;
    width: 75px;
    height: 75px;
    border: 1px solid blue;
    background-color: lightgray;
    font-size: 14px;
    text-align: center;
    z-index: 0;
}

#preOne {
    left: 25px;
    top: 25px;
}

#postOne {
    left: 425px;
    top: 25px;
}

#preTwo {
    left: 25px;
    top: 125px;
}

#postTwo {
    left: 425px;
    top: 225px;
}

#preThree {
    left: 25px;
    top: 225px;
}

#postThree {
    left: 425px;
    top: 125px;
}

#checkAnswersLine {
    position: absolute;
    left: 515px;
    top: 10px;
}

#resetAnswers {
    position: absolute;
    left: 515px;
    top: 75px;
}